<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/Main.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main">
        <div>
            @Html.ActionLink("Сервис проверки знаний", "Index", "Home")
        </div>
        <div>
            @Html.Partial("_Menu")
            @Html.Partial("_LoginPart")
        </div>
        <div class="data">
            @RenderBody()
        </div>
    </div>
</body>
</html>
