@using Microsoft.AspNet.Identity
<div class="top">
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <ul>
                <li>@User.Identity.GetUserName()</li>
                <li>@Html.ActionLink("Изменить пароль", "ChangePassword", "Account", null, new { id = "topBut"})</li>
                <li>@Html.ActionLink("Выйти", "Logout", "Account", null,  new { id = "topBut" })</li>
            </ul>
        }
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Выполнить вход", "Login", "Account", null, new { id = "topBut" })</li>
            <li>@Html.ActionLink("Зарегистрироваться", "Registration", "Account", null, new { id = "topBut" })</li>
        </ul>
    }
</div>