<div>
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>

        @if (User.Identity.IsAuthenticated)
        {
            string cookieName = FormsAuthentication.FormsCookieName;
            var cookie = HttpContext.Current.Request.Cookies[cookieName.ToUpper()];
            var ticket = FormsAuthentication.Decrypt(cookie.Value);
            string roles = ticket.UserData;

            <li>@Html.ActionLink("Результаты тестов", "TestResult", "Tests")</li>

            if (roles.IndexOf("Moderator") != -1)
            {
                <li>@Html.ActionLink("Подробная информация по тесту", "SearchShareResult", "Home")</li>
                <li>@Html.ActionLink("Создать Тест", "SelectCreateTest", "Tests")</li>
                <li>@Html.ActionLink("Удалить тест", "SelectDeleteTest", "Tests")</li>
            }

            if (roles.IndexOf("Administrator") != -1)
            {
                <li>@Html.ActionLink("Выдать пользователю новую роль", "ChangeAccess", "Home")</li>
            }
        }
    </ul>
</div>