@using DAL.Models
<div class="menu">
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>
            Поиск
            @using (Html.BeginForm("SearchTest", "Home", FormMethod.Get))
            {
                <input type="text" name="NameTest" />
                <input type="submit" value="Поиск" />
            }
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Результаты тестов", "TestResult", "Tests")</li>
            <li>@Html.ActionLink("Подробная информация по тесту", "SearchShareResult", "Home")</li>
            <li>@Html.ActionLink("Выдать пользователю новую роль", "ChangeAccess", "Home")</li>
            <li>@Html.ActionLink("Создать Тест", "SelectCreateTest", "Tests")</li>
            <li>@Html.ActionLink("Удалить тест", "SelectDeleteTest", "Tests")</li>
        }
    </ul>
</div>